<!DOCTYPE html>
{% load staticfiles %}
{% load compress %}
<html lang="es">
    <head>

        <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% compress css %}
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/jquery.mb.YTPlayer.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
        {% endcompress %}

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>

        {% if user.is_authenticated %}
        <div class="navbar-fixed">
            <nav>
              <div class="nav-wrapper container">
                <a href="#!" class="brand-logo">Carpool</a>
                <ul class="right hide-on-med-and-down">
                  <li><a href="sass.html">Sass</a></li>
                  <li><a class="waves-effect waves-light btn-large">Crear Ruta</a></li>
                  <li><a href="{% url 'logout' %}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Sign out"><i class="material-icons">exit_to_app</i></a></li>
                </ul>
              </div>
            </nav>
        </div>
        {% endif %}

        <main id="main_content">

            {% block body_block %}
            {% endblock %}

        </main>
        {% if user.is_authenticated %}
        <footer class="page-footer">
          <div class="footer-copyright">
            <div class="container">
            © {%now 'Y'%} Copyright Text
            </div>
          </div>
        </footer>
        {% endif %}


        {% compress js %}
        <script src="//code.jquery.com/jquery-2.2.3.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="{% static 'js/jquery.mb.YTPlayer.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
        {% endcompress %}

    </body>
</html>
