{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Login{% endblock %}

{% block body_block %}

{% load socialaccount %}
{% providers_media_js %}

        <div class="grey darken-4" id="login_wrapper">

            <div class="container">
                <div id="mast_head" class="mast_head center">
                    <h1>Carpool for everyone</h1>
                    <p><a id="login_btn" class="waves-effect waves-light btn-large blue darken-4" href="{% provider_login_url "facebook" method="oauth2" %}"><i class="fa fa-facebook-official left" aria-hidden="true"></i> Login con Facebook</a></p>
                    <br>
                    {% if co2 > 200 %}<h4>posible ahorro:<br><span class="count">{{ co2 }}</span> Kg de CO<sub>2</sub></h4>{% endif %}
                </div>
            </div>

        </div>

        <div id="login_video" data-property="{videoURL:'http://youtu.be/qN0k-TjeTV4',containment:'#login_wrapper',autoPlay:true, mute:true, startAt:31, opacity:1,loop:true,showControls:false,showYTLogo:false,addRaster: true}"></div>
{% endblock %}