{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Pools{% endblock %}

{% block body_block %}

    <div class="container container_block">

        <div class="row">
            <form id="search_pool" role="form" method="post" action="{% url 'pools' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-field col s12 m5">
                    <select id="search_origen" name="origen">
                      <option value="" disabled selected>Elige un destino</option>
                      {% for colonia in colonias %}
                      <option value="{{ colonia.pk }}">{{ colonia }}</option>
                      {% endfor %}
                    </select>
                    <label>Origen</label>
                </div>
                <div class="input-field col s12 m5">
                    <select id="search_destino" name="destino">
                      <option value="" disabled selected>Elige un origen</option>
                      {% for colonia in colonias %}
                      <option value="{{ colonia.pk }}">{{ colonia }}</option>
                      {% endfor %}
                    </select>
                    <label>Destino</label>
                </div>
                <div class="input-field col s12 m2">
                <button class="btn waves-effect waves-light cyan darken-4" type="submit" name="action">Buscar</button>
                </div>
            </form>
        </div>

        {% if resultados %}
        <div class="row">
            <h4>Viaja con:</h4>
            {% for resultado in resultados %}

            <div class="col s12 m6">
              <div class="card blue-grey darken-2">
                <div class="card-content white-text">
                    <p>
                        <b>{{ resultado.creador.first_name }}</b>
                    {% if resultado.tipo == 'regular' %}
                        los dias <b>{% for dia in resultado.dias.all %}{% if forloop.last %} y {% else %}{% if not forloop.first %},{% endif %} {% endif %}{{ dia }}{% endfor %}</b> a las <b>{{ resultado.hora }}</b>
                    {% else %}
                        el <b>{{ resultado.fecha|date:"l j" }} de {{ resultado.fecha|date:"F" }}</b> a las <b>{{ resultado.hora }}</b>
                    {% endif %}
                    de <b>{{ resultado.origen }}</b> a <b>{{ resultado.destino }}</b></p>
                    <ul>
                        <li>{% if resultado.contacto_telefono %}{{ resultado.contacto_telefono }}{% endif %}</li>
                        <li>{% if resultado.contacto_email %}{{ resultado.contacto_email }}{% endif %}</li>
                    </ul>
                </div>
                <div class="card-action">
                  <a href="https://www.facebook.com/{{ resultado.creador.socialaccount_set.all.0.uid }}" target="_blank">Contactar</a>
                </div>
              </div>
            </div>
            {% endfor %}

        </div>
        {% endif %}

    </div>



{% endblock %}