{% extends 'base.html' %}

{% block title %} Terminos y Condiciones {% endblock %}

{% block body_block %}


<div class="container">

        <h3>Términos y Condiciones</h3>


        <h5>Ámbito de aplicación</h5>

            <p>Bienvenido al sitio web www.carpoolcdmx.com y todas sus divisiones, subsidiarias, afiliadas y sitios de internet, la cual te ofrecen acceso al sitio web, te rogamos que leas detenidamente los presentes términos y condiciones antes de utilizar el sitio web www.carpoolcdmx.com, ya que al entrar a nuestro sitio confirmas tu entendimiento con los mismos, si no aceptas estos términos y condiciones de uso, no podrás utilizar este sitio.<p>


            <p style="display: none;">Los presentes términos y condiciones, regulan el uso del sitio web www.carpoolcdmx.com</p>

            <p>A través de su sitio web www.carpoolcdmx.com, oferta bienes, ofreciendo a sus usuarios y suscriptores la posibilidad de su adquisición, debido al contenido y la finalidad del sitio web, las personas que quieran beneficiarse de sus servicios deben de suscribirse, lo cual se realiza a través del llenado del formulario de registro y siguiendo los pasos que con posterioridad se les comunicará por medio de correo electrónico para dichos efectos, la condición de suscriptor supone la aceptación de los términos y condiciones de uso.</p>

            <p>Una vez completado el formulario de registro, el suscriptor del sitio recibirá una contraseña de acceso, el suscriptor será el único responsable de mantener la contraseña proporcionada y así como otros identificadores de cuentas seguras, el titular de la cuenta es totalmente responsable de todas las actividades que ocurran bajo su contraseña o cuenta, por otra parte, debes notificarnos de cualquier uso no autorizado de tu contraseña o cuenta, de ninguna manera, nosotros seremos responsables, directos o indirectamente, por cualquier pérdida o daño de cualquier tipo incurridos como resultado de la falta de cumplimiento de esta condición.</p>

            <p>carpoolcdmx.com, se reserva el derecho de cambiar, modificar, añadir o eliminar partes de estos términos y condiciones de uso en cualquier momento, los cambios serán efectivos cuando se publiquen en el sitio www.carpoolcdmx.com, por favor revisa periódicamente las actualizaciones de estos términos y condiciones de uso, ya que tendrás que aceptar los cambios que se realicen para poder seguir accediendo al sitio y seguir comprando productos.</p>

        <h5>Uso de www.carpoolcdmx.com</h5>

            <p>Para poder utilizar el sitio www.carpoolcdmx.com debes de tener 18 años de edad o en su caso estar accediendo bajo la supervisión y consentimiento de tus padres, de quien detente el legar ejercicio de la patria potestad, guarda y custodia o bien de tutor legal si es el caso.

            <p>Al aceptar los presentes términos y condiciones te concedemos una licencia no transferible y revocable para utilizar nuestro sitio, en virtud de los términos y condiciones descritos y aceptados, con el propósito de la compra de artículos ofertados en nuestra página.

            <p>El uso comercial o el nombre de terceros están prohibidos, salvo lo expresamente permitido por nosotros con anterioridad, cualquier infracción de estos términos y condiciones dará lugar a la revocación inmediata de la licencia otorgada en este apartado, sin previo aviso.

            <p>Ciertos servicios y las características relacionadas con los mismos, que pueden estar disponibles en el sitio www.carpoolcdmx.com, pueden requerir el registro o suscripción, si decides registrarte o suscribirte a cualquiera de estos servicios o funciones relacionadas, te comprometes a proporcionar información precisa y actualizada acerca de ti mismo, para actualizar rápidamente esa información si hay algún cambio.

            <h6>ENVIO DE PROMOCIONES Y OFERTAS</h6>

            <p>Durante el proceso de registro, aceptas recibir correos electrónicos promocionales del sitio www.carpoolcdmx.com., no obstante, posteriormente, puedes optar por no recibir tales correos promocionales haciendo clic en el enlace en la parte inferior de cualquier correo electrónico promocional.</p>

            <p>Asimismo durante el proceso de registro nos autorizas expresamente a realizarte llamadas telefónicas y enviarte mensajes de texto con fines mercadológicos, no obstante en todo tiempo tienes la facultad de revocar este consentimiento enviándonos un correo a <a href="mailto:contacto@carpoolcdmx.com">contacto@carpoolcdmx.com</a> donde nos manifiestes de forma expresa tu deseo de no seguir recibiendo llamadas telefónicas ni envió de mensajes de texto por parte de nuestro equipo de mercadotecnia.</p>

            <p>Lo anterior de conformidad con la Ley federal de Protección al Consumidor, así como del Acuerdo por el que se establecen las reglas de operación y funcionamiento del Registro Público de Consumidores.</p>

        <h5>Las comunicaciones del usuario</h5>

            <p>Cualquier comunicación que envíes al sitio web www.carpoolcdmx.com., incluyéndose de forma enunciativa más no limitativa, preguntas, críticas, comentarios, sugerencias se convertirá en nuestra única y exclusiva propiedad y no serán devueltos, salvo que medie orden judicial, asimismo cuando remites comentarios o críticas al sitio, también nos concedes el derecho a utilizar el nombre que envíes, en el marco de dicha revisión, comentario, o cualquier otro contenido, por último, cabe mencionar que, no debes de usar una dirección de correo electrónico falsa, es decir, pretender ser alguien que no eres.</p>

            <p>Asimismo serán de nuestra propiedad y no serán devueltos salvo que medie orden judicial, los datos que los suscriptores envíen al sitio web www.carpoolcdmx.com, para registrar diversas cuentas con la finalidad de verse beneficiados con las promociones de nuevos suscriptores, dichas cuentas serán anuladas y dadas de baja inmediatamente, cualquier beneficio o promoción que se haya intentado redimir será cancelado y el suscriptor que haya intentando obtener el beneficio, se le podrá revocar la licencia que se le otorgo al momento de la suscripción, procediendo a cancelar cualquier pedido de productos que hubiera realizado, sin ningún tipo de responsabilidad de nuestra parte.</p>


        <h5>Proteccion de datos</h5>

            <p>Los datos proporcionados por el cliente son protegidos de acuerdo a nuestro aviso de privacidad, publicado en <a href="{% url 'privacy' %}">{{ request.META.HTTP_HOST }}{% url 'privacy' %}</a>.</p>

        <h5>Ley aplicable y jurisdicción</h5>

            <p>Para la interpretación y cumplimiento de los presentes términos y condiciones, las partes se someten a la jurisdicción de los tribunales de la ciudad de México, Distrito Federal renunciado expresamente a cualquier otro fuero que pudiere corresponderles por razón de sus domicilios presentes o futuros.</p>

        <h5>Contacto</h5>

            <a href="mailto:contacto@carpoolcdmx.com">contacto@carpoolcdmx.com</a><br>

            <p>Estimado usuario, se le notifica que el Aviso de Privacidad fue modificado el día <b>6 de mayo del 2016.</b></p>


    </div>

    </div>

</div>



{% endblock %}