body {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
    background-color: #fcfcfc;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
  }


.parallax-container {
      height: 100%;
}

#login_video{
    height: 100%;
    width: 100%;
    position: absolute;

}

#login_wrapper{
    background: url("../images/login_bkg_img.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;

}